* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Hide arrows from input[number] */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

:root {
    font-size: 1vw;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .7)), url(img/main-bg.png);
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
}

#spin,
input {
    background-color: transparent;
    padding: 1rem;
    border: 1px solid white;
    margin: 4px auto;
    border-radius: 1rem;
    outline: none;
    font-size: 2rem;
    color: rgba(255, 255, 255);
    text-transform: uppercase;
    transition: background-color .4s;
}

#spin::placeholder,
input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#spin {
    display: block;
    width: 10rem;
    cursor: pointer;
}

#spin:hover,
input:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

input {
    width: 40rem;
}

ul,
.info,
.time-stamp,
.username {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

.info {
    top: 20vh;
    width: 100%;
    font-size: 5rem;
}

.player-info {
    position: relative;
}

.username {
    top: 8vh;
    width: 100%;
    font-size: 7rem;
    color: rgba(24, 161, 240, 0.616);
}

ul {
    text-align: center;
    bottom: 5rem;
    left: 10rem;
    list-style: none;
    font-size: 3rem;
}

li {
    text-align: left;
    cursor: pointer;
}

.time-stamp {
    bottom: 22vh;
    right: 10rem;
    font-size: 5rem;
    text-transform: lowercase;
}

.error {
    border-color: violet;
    box-shadow: 0 0 2px 2px violet;
}

#error-msg {
    position: absolute;
    top: -3rem;
    color: rgb(253, 186, 253);
    font-size: 2rem;
}

@media (min-width:1500px) {
    :root {
        font-size: .8vw;
    }
}

@media (max-width:1200px) {
    :root {
        font-size: 1.5vw;
    }

    input {
        width: 80vw;
    }
}

@media (max-width:700px) {
    :root {
        font-size: 2vw;
    }

    input {
        width: 80vw;
    }

    .time-stamp {
        font-size: 6rem;
    }
}

@media (max-width:1000px) and (orientation:landscape) {
    :root {
        font-size: 1.1vw;
    }

    input {
        width: 60vw;
    }

    .info {
        top: 13vh;
    }

    .username {
        top: 0;
    }

    #error-msg {
        top: -2rem;
    }
}