/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Hide arrows from input[number] */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button>* {
    pointer-events: none;
}

:root {
    font-size: 1vw;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, .7))), url(img/main-bg.png);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .7)), url(img/main-bg.png);
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .7)), url(img/main-bg.png);
    background-size: cover;
    background-position: center;
    display: -ms-grid;
    display: grid;
    place-content: center;
}

#controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 4px;
}

#controls button,
input,
.outer-btn {
    background-color: transparent;
    padding: 1rem;
    border: 1px solid white;
    margin: 4px auto;
    border-radius: 1rem;
    outline: none;
    font-size: 2rem;
    color: rgba(255, 255, 255);
    text-transform: uppercase;
    -webkit-transition: background-color .4s;
    -o-transition: background-color .4s;
    transition: background-color .4s;
}

#controls button::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#controls button::-moz-placeholder,
input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#controls button:-ms-input-placeholder,
input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#controls button::-ms-input-placeholder,
input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#controls button::placeholder,
input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#controls button {
    display: block;
    width: 10rem;
    cursor: pointer;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin: 0;
}

#controls button:hover,
#controls button:focus,
input:focus,
.outer-btn:hover,
.outer-btn:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

input {
    width: 40rem;
}

ul,
.info,
.time-stamp,
.username {
    position: absolute;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

.info {
    top: 20vh;
    width: 100%;
    font-size: 5rem;
}

.player-info {
    position: relative;
}

.username {
    top: 8vh;
    width: 100%;
    font-size: 7rem;
    color: rgba(24, 161, 240, 0.616);
}

ul {
    text-align: center;
    bottom: 5rem;
    left: 10rem;
    list-style: none;
    font-size: 3rem;
}

li {
    text-align: left;
    cursor: pointer;
}

.time-stamp {
    bottom: 22vh;
    right: 10rem;
    font-size: 5rem;
    text-transform: lowercase;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
}

.error {
    border-color: violet;
    -webkit-box-shadow: 0 0 2px 2px violet;
    box-shadow: 0 0 2px 2px violet;
}

#error-msg {
    position: absolute;
    top: -3rem;
    color: rgb(253, 186, 253);
    font-size: 2rem;
}

.active {
    opacity: .9;
}

.outer-btn {
    position: fixed;
    top: 2rem;
    z-index: 1;
    font-size: 3rem;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    pointer-events: none;
}

.outer-btn.active {
    opacity: 1;
    pointer-events: all;
}

#lang-btn {
    left: 2rem;
    font-size: 2.5rem;
}

#sound-agreement.active {
    left: 10rem;
}

#info-btn {
    right: 2rem;
}

.hidden {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 50%;
    height: 100vh;
    opacity: 0;
    -webkit-transition: opacity .4s, left .4s .1s, right .4s .1s, -webkit-backdrop-filter .4s .35s;
    transition: opacity .4s, left .4s .1s, right .4s .1s, -webkit-backdrop-filter .4s .35s;
    -o-transition: opacity .4s, left .4s .1s, right .4s .1s, backdrop-filter .4s .35s;
    transition: opacity .4s, left .4s .1s, right .4s .1s, backdrop-filter .4s .35s;
    transition: opacity .4s, left .4s .1s, right .4s .1s, backdrop-filter .4s .35s, -webkit-backdrop-filter .4s .35s;
}

#voice-select {
    left: -100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

#info {
    right: -100vw;
    font-size: 1.7rem;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;
}

#info * {
    pointer-events: none;
}

#info p {
    margin-bottom: 2rem;
}

#info ol {
    margin-left: 4rem;
}

ol {
    list-style: upper-roman;
}

li>ol {
    list-style: lower-alpha;
    font-size: 1.3rem;
}

ol li {
    margin: 8px 0;
}

#voice-select.active,
#info.active {
    opacity: 1;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

#voice-select.active {
    left: 0;
}

#info.active {
    right: 0;
}

#voice-select>* {
    font-size: 1.6rem;
    -ms-flex-preferred-size: calc(100%/3);
    flex-basis: calc(100%/3);
    display: -ms-grid;
    display: grid;
    place-content: center;
    text-align: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: background .5s;
    -o-transition: background .5s;
    transition: background .5s;
}

#voice-select>*:hover {
    background: rgba(0, 0, 0, 0);
}



@media (min-width:1500px) {
    :root {
        font-size: .6vw;
    }
}

@media (max-width:1200px) {
    :root {
        font-size: 1vw;
    }

    input {
        width: 60vw;
    }
}

@media (max-width:700px) {
    :root {
        font-size: 1.4vw;
    }

    input {
        width: 80vw;
    }

    .time-stamp {
        font-size: 6rem;
    }

    .hidden {
        width: 100%;
    }

    #voice-select>* {
        font-size: 1.5rem;
        -ms-flex-preferred-size: calc(100%/2);
        flex-basis: calc(100%/2);
    }
}

@media (max-width:500px) {
    :root {
        font-size: 1.8vw;
    }

    #voice-select {
        overflow-y: scroll;
    }

    #voice-select>* {
        font-size: 3rem;
        flex-basis: 100%;
    }
}

@media (max-width:1000px) and (orientation:landscape) {
    :root {
        font-size: 1.1vw;
    }

    input {
        width: 60vw;
    }

    .info {
        top: 15vh;
    }

    .username {
        top: 0;
    }

    #error-msg {
        top: -2rem;
    }

    .time-stamp {
        bottom: 5rem;
    }

    .hidden {
        width: 100%;
    }

    #players-list {
        bottom: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #players-list>li {
        margin-right: 10px;
    }

    #info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        overflow-y: scroll;
    }
}